<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cn.apppark.ckj10185912">
    <application android:allowBackup="false" android:icon="@drawable/icon" android:label="@string/app_name" android:name=".HQCHApplication">
        <activity android:configChanges="keyboardHidden|orientation" android:name=".Main" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="cn.apppark.vertify.activity.FreeAct"/>
        <activity android:name="cn.apppark.vertify.activity.free.dyn.DynSubComment" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:hardwareAccelerated="true" android:name="cn.apppark.vertify.activity.free.dyn.DynRssDetail" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:hardwareAccelerated="true" android:name="cn.apppark.vertify.activity.free.dyn.DynMsgDetail" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:hardwareAccelerated="true" android:name="cn.apppark.vertify.activity.free.dyn.DynVideoWebView" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.free.dyn.PicGallery" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:hardwareAccelerated="true" android:name="cn.apppark.vertify.activity.free.dyn.MainActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.free.dyn.DynSearch5007Act" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.free.dyn.DynSearch5007Act2" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.free.dyn.STogetherDetail" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.PageGroup" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.base.InitClient" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.base.SetAct" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.base.PushWebView" android:screenOrientation="portrait" android:theme="@style/Theme.Translucent"/>
        <activity android:name="cn.apppark.vertify.activity.free.self.Mp4PlayerActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.free.self.SelfMapActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.free.function.FunctionBaiduMapActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.base.ImagePreview" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.bottommenu.NavigationTab2"/>
        <activity android:name="cn.apppark.vertify.activity.persion.PersonCenter" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.persion.Login" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.persion.RegNew" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.persion.RegNewStep2" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.persion.FindPass" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.persion.PersonInfo" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.persion.PersonInfo2" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.persion.UpdateInfo" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.persion.SetInfo" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.persion.PersionMyTieBa" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.persion.PersionCollection" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.persion.PersonLbsMsg" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.persion.SmsLogin" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.persion.SmsVertifyPhone" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.persion.SmsRegNew" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.persion.SmsFindPass" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.share.MsgAct" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyPersonMsg" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyMyCenter" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyAddAddress" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyAddressList" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyProductCollection" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyCollectionMsgList" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuySelArea" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuySelCity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuySelProvience" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyViewHistory" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyProductDetail" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyBuyCar" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyOrderTemp" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuySubOrderResult" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuySelectRemark" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyMyOrderList" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyOrderDetail" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyWebView" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyProCommentList" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyProCommentSub" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyProCommentDetail" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyMsgCommentList" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyProCommentList2" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyMsgCommentRep" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.buy.BuyProductStandard" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.soft.Soft" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.soft.SoftDetail" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.soft.SoftList" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.share.ShareAct" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="cn.apppark.vertify.activity.share.SinaShareAct" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.share.QzoneShareAct" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.share.WeixinShareAct" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.share.WeixinFriendCircleShareAct" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.tieba.TMain" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.tieba.TEdit" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:name="cn.apppark.vertify.activity.tieba.TTopicDetail" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.tieba.TCommentList" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="cn.apppark.vertify.activity.tieba.TMyHistory" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.tieba.TMsg" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.tieba.TMyCollection" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="cn.apppark.vertify.activity.tieba.TMytopicAndComment" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:exported="false" android:name="com.alipay.sdk.app.H5PayActivity" android:screenOrientation="behind" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <receiver android:name=".weixin.AppRegister" android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>
        <activity android:exported="true" android:label="@string/app_name" android:launchMode="singleTop" android:name=".wxapi.WXEntryActivity"/>
　
<service android:name="cn.apppark.vertify.activity.service.LBSService"/>
        <receiver android:name="cn.apppark.vertify.activity.service.AlarmBroadCast">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>
</manifest>
